$aliceblue: aliceblue;
$green: green;
$springgreen: springgreen;
$mediumspringgreen: mediumspringgreen;
$lightgreen: lightgreen;
$lightseagreen: lightseagreen;
$seagreen: seagreen;
$palegreen: palegreen;
$mediumspringgreen: mediumspringgreen;
$mediumseagreen: mediumseagreen;
$limegreen: limegreen;
$lime: lime;
$lawngreen: lawngreen;