@import "./config/_variables.scss";
@import "./config/_reset.scss";

@import "./components/header.scss";

body {
    background-color:azure;
    color: $lightseagreen;
}

footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}