@import "./config/_variables.scss";
@import "./config/_reset.scss";

@import "./components/content.scss";
@import "./components/header.scss";
@import "./components/forms.scss";

@import "./screens/home.scss";
@import "./screens/profile.scss";

body {
    background-color:azure;
    color: $lightseagreen;
    padding: 20px;
}

footer {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}