header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid;

    .home {
        width: auto;
        height: auto;
        font-size: 35px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;

            li {
                margin-right: 15px;
            }

            li:last-child {
                margin-right: 0px;
            }
            
            .search {
                width: 180px;

                form {
                    display: flex;
                    align-items: center;
                    input:first-child {
                        width: 130px;
                        height: 26px;
                    }
                    input:last-child {
                        width: 40px;
                        height: 30px;
                    }
                }
            }
        }
    }
}