doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
    body
        include partials/header.pug
        block content
        include partials/footer.pug
    script(src="/static/js/main.js") 