extends base

block content
    form.form(method="POST")
        span 회원정보수정
        input(type="text" name="username" placeholder="아이디", value=loggedInUser.username)
        input(type="text" name="name" placeholder="이름", value=loggedInUser.name)
        input(type="submit" value="저장")
        a(href="change-password") 비밀번호 변경 &rarr;