extends base
include mixins/content

block content
    div.profile
        div.owner #{loggedInUser.username}님의 콘텐츠
        div.owner_list
            each item in user.contents
                +content(item)